run_docker_container.yml
id: run_docker_container
namespace: my_namespace

tasks:
  - id: "run"
    type: "io.kestra.plugin.docker.Run"
    containerImage: "gcr.io/kheopsys-lab/dbt-snapshot:alpha.1.4"
    env:
      DBT_PROJECT_DIR: "/app"
    pullPolicy: ALWAYS  # Pour s'assurer que la dernière version de l'image est utilisée

  - id: outputs_metrics
    type: io.kestra.plugin.scripts.python.Commands
    namespaceFiles:
      enabled: true
    docker:
       image: python:slim
    warningOnStdErr: false
    beforeCommands:
      - pip install requests
    commands:
      - python outputs.py
triggers :
  - id : hourly
    type : io.kestra.plugin.core.trigger.Schedule
    cron :  "@hourly"
